/* font */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500;700&family=Roboto&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* common style */
body {
    font-family: 'Kaisei Tokumin', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container {}

/*----------------
     header style
------------------ */
.top-part {}

.top-contents {
    height: 620px;
    width: 1120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    margin: 40px 80px;
    border-radius: 10px;


}

.top-content-detail {
    color: white;
    padding-left: 106px;
    padding-top: 111px;

}

.top-content-detail p {
    margin-bottom: 30px;
}

.top-content-detail h1 {
    font-size: 70px;
}

.watch-live-button {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 16px 25px;
    border-radius: 5px;

}

.fa-greater-than {
    color: white;
}

.top-content-banner {
    padding-top: 58px;
    padding-right: 27px;
}

.top-content-banner img {
    width: 100%;
}